body {
  background-color: #70d6ff;
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 20px;
}

div {
  border: 1px solid black;
}

h1 {
  text-align: center;
  font-size: 50px;
  padding: 0px;
}

.future {
  display: inline;
  height: 100px;
  width: 50px;
}

#head {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row: 1;
}

#search {
  grid-row-start: 2;
}

#previous-search {
  grid-row: 3;
}

#current-search {
  grid-row: 2 / 6;
  grid-column-start: 2;
}

#five-day {
  grid-column: 2;
  grid-row: 6 / 9;
}
